# DATA CLEANING

In [11]:
!pip install pandas numpy

Requirement already satisfied: pandas in c:\users\sharan\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\users\sharan\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sharan\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sharan\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sharan\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sharan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [12]:
import pandas as pd

df = pd.read_csv(r"C:\Users\sharan\Documents\ola_ride_insights\data\OLA_DataSet.xlsx - July.csv")

# Display first few rows
df.head()

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Canceled_Rides_by_Customer,Canceled_Rides_by_Driver,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images
0,2024-07-26 14:00:00,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,NaN,Personal & Car related issue,NaN,NaN,444,NaN,0,NaN,NaN,https://cdn-icons-png.flaticon.com/128/14183/1...
1,2024-07-25 22:20:00,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,NaN,NaN,No,NaN,158,Cash,13,4.1,4.0,https://cdn-icons-png.flaticon.com/128/9983/99...
2,2024-07-30 19:59:00,19:59:00,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,NaN,NaN,No,NaN,386,UPI,40,4.2,4.8,https://cdn-icons-png.flaticon.com/128/9983/99...
3,2024-07-22 3:15:00,3:15:00,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,NaN,NaN,Driver is not moving towards pickup location,NaN,NaN,NaN,384,NaN,0,NaN,NaN,https://cdn-icons-png.flaticon.com/128/6839/68...
4,2024-07-02 9:02:00,9:02:00,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,252.0,80.0,NaN,NaN,No,NaN,822,Credit Card,45,4.0,3.0,https://cdn-icons-png.flaticon.com/128/3202/32...

In [13]:
# Getting shape and info
print(df.shape)
print(df.info())

# Summary statistics
df.describe()

# Check column names
print(df.columns.tolist())

(103024, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103024 entries, 0 to 103023
Data columns (total 20 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Date                        103024 non-null  object
 1   Time                        103024 non-null  object
 2   Booking_ID                  103024 non-null  object
 3   Booking_Status              103024 non-null  object
 4   Customer_ID                 103024 non-null  object
 5   Vehicle_Type                103024 non-null  object
 6   Pickup_Location             103024 non-null  object
 7   Drop_Location               103024 non-null  object
 8   V_TAT                       63967 non-null   float64
 9   C_TAT                       63967 non-null   float64
 10  Canceled_Rides_by_Customer  10499 non-null   object
 11  Canceled_Rides_by_Driver    18434 non-null   object
 12  Incomplete_Rides            63967 non-null   object
 13  Incomplete_Rides_Reason     3926 non-null    object
 14  Booking_Value               103024 non-null  int64
 15  Payment_Method              63967 non-null   object
 16  Ride_Distance               103024 non-null  int64
 17  Driver_Ratings              63967 non-null   float64
 18  Customer_Rating             63967 non-null   float64
 19  Vehicle Images              103024 non-null  object
dtypes: float64(4), int64(2), object(14)
memory usage: 15.7+ MB
None
['Date', 'Time', 'Booking_ID', 'Booking_Status', 'Customer_ID', 'Vehicle_Type', 'Pickup_Location', 'Drop_Location', 'V_TAT', 'C_TAT', 'Canceled_Rides_by_Customer', 'Canceled_Rides_by_Driver', 'Incomplete_Rides', 'Incomplete_Rides_Reason', 'Booking_Value', 'Payment_Method', 'Ride_Distance', 'Driver_Ratings', 'Customer_Rating', 'Vehicle Images']

In [14]:
# Missing values
print(df.isnull().sum())

# Duplicates
print("Duplicates:", df.duplicated().sum())

# Unique values per column
df.nunique()

Date                              0
Time                              0
Booking_ID                        0
Booking_Status                    0
Customer_ID                       0
Vehicle_Type                      0
Pickup_Location                   0
Drop_Location                     0
V_TAT                         39057
C_TAT                         39057
Canceled_Rides_by_Customer    92525
Canceled_Rides_by_Driver      84590
Incomplete_Rides              39057
Incomplete_Rides_Reason       99098
Booking_Value                     0
Payment_Method                39057
Ride_Distance                     0
Driver_Ratings                39057
Customer_Rating               39057
Vehicle Images                    0
dtype: int64
Duplicates: 0

Date                           40214
Time                            1440
Booking_ID                    103024
Booking_Status                     4
Customer_ID                    94544
Vehicle_Type                       7
Pickup_Location                   50
Drop_Location                     50
V_TAT                             40
C_TAT                             25
Canceled_Rides_by_Customer         5
Canceled_Rides_by_Driver           4
Incomplete_Rides                   2
Incomplete_Rides_Reason            3
Booking_Value                   2883
Payment_Method                     4
Ride_Distance                     50
Driver_Ratings                    21
Customer_Rating                   21
Vehicle Images                     7
dtype: int64

In [15]:
# Rename Columns to snake_case:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [16]:
#creating booking_datetime
df['booking_datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'], format="%Y-%m-%d %H:%M:%S", errors='coerce')

In [17]:
#dropping columns with high missing values
df.drop(['canceled_rides_by_customer', 'canceled_rides_by_driver', 'incomplete_rides_reason'], axis=1, inplace=True)

In [18]:
df['v_tat'] = df['v_tat'].fillna(df['v_tat'].median())
df['c_tat'] = df['c_tat'].fillna(df['c_tat'].median())
df['driver_ratings'] = df['driver_ratings'].fillna(df['driver_ratings'].median())
df['customer_rating'] = df['customer_rating'].fillna(df['customer_rating'].median())
df['payment_method'] = df['payment_method'].fillna('Unknown')
df['incomplete_rides'] = df['incomplete_rides'].fillna('No')

In [19]:
#after the umeric columns
df.drop_duplicates(inplace=True)

In [20]:
#booking hour
df['booking_hour'] = df['booking_datetime'].dt.hour

In [21]:
#day of week
df['booking_day'] = df['booking_datetime'].dt.day_name()

In [22]:
#booking month
df['booking_month'] = df['booking_datetime'].dt.month

In [28]:
#saving cleaned dataset
df.to_csv('C:/Users/sharan/Documents/ola_ride_insights/data/clean_ola_data.csv', index=False)
print("Cleaned data saved as clean_ola_data.csv")

Cleaned data saved as clean_ola_data.csv

In [26]:
#checking
print(df.info())
print(df.isnull().sum())  # should be 0!!!!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103024 entries, 0 to 103023
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              103024 non-null  object
 1   time              103024 non-null  object
 2   booking_id        103024 non-null  object
 3   booking_status    103024 non-null  object
 4   customer_id       103024 non-null  object
 5   vehicle_type      103024 non-null  object
 6   pickup_location   103024 non-null  object
 7   drop_location     103024 non-null  object
 8   v_tat             103024 non-null  float64
 9   c_tat             103024 non-null  float64
 10  incomplete_rides  103024 non-null  object
 11  booking_value     103024 non-null  int64
 12  payment_method    103024 non-null  object
 13  ride_distance     103024 non-null  int64
 14  driver_ratings    103024 non-null  float64
 15  customer_rating   103024 non-null  float64
 16  vehicle_images    103024 non-null  object
 17  booking_datetime  0 non-null       datetime64[ns]
 18  booking_hour      0 non-null       float64
 19  booking_day       0 non-null       object
 20  booking_month     0 non-null       float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(12)
memory usage: 16.5+ MB
None
date                     0
time                     0
booking_id               0
booking_status           0
customer_id              0
vehicle_type             0
pickup_location          0
drop_location            0
v_tat                    0
c_tat                    0
incomplete_rides         0
booking_value            0
payment_method           0
ride_distance            0
driver_ratings           0
customer_rating          0
vehicle_images           0
booking_datetime    103024
booking_hour        103024
booking_day         103024
booking_month       103024
dtype: int64